.idea
*.iml
github.properties
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build/*
.idea/*
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetDropDown.xml
